.confirm-phone-modal-dialog {
  .progress-bar {
    position: absolute;
    left: 0;
    top: 0;
  }

  .modal {
    &__body {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    color: #444;
    margin-bottom: 36px;
  }

  &__input-box {
    position: relative;
    display: flex;

    &__input {
      position: absolute;
      left: 0;
      top: 0;
      width: 0;
      height: 0;
      opacity: 0;
    }

    &__item {
      width: 30px;
      height: 30px;
      cursor: text;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 700;
      font-size: 30px;

      p {
        background-color: #fff;
        z-index: 2;
      }

      span {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 8px;
        height: 8px;
        border-radius: 100%;
        background-color: #bbb;
      }

      .bounce-enter-active {
        animation: bounce-in 0.5s;
      }
      .bounce-leave-active {
        animation: bounce-in 0.5s reverse;
      }
      @keyframes bounce-in {
        0% {
          transform: scale(0);
        }
        50% {
          transform: scale(1.25);
        }
        100% {
          transform: scale(1);
        }
      }
    }
  }

  &__subtitle {
    font-size: 18px;
    margin: 18px 0;
    font-weight: 700;
    color: #444;
  }

  &__btn {
    height: 48px;
    width: 272px;
    max-width: 100%;
    background: linear-gradient(180deg,#e15959,#e96f54);
    border: 1px solid #c62734;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: .1px;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 1px 1px 0 rgb(0 0 0 / 20%);
  }
}