.product-card {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;

  & + & {
    margin-top: 20px;
  }

  &.sets {
    display: flex;
    flex-direction: column;
  }

  &__img {
    width: 60%;
    padding-right: 15px;
    transition: width .3s;
    will-change: width;
    cursor: pointer;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    @include max-xs {
      width: 50%;
    }
  }

  &__items {
    width: 40%;
    transition: width .3s;
    will-change: width;

    @include max-xs {
      width: 50%;
    }
  }

  &__name {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    margin: 0;
    padding-right: 40px;
    color: #000;
  }

  &__price {
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
  }

  &__wishes {
    width: fit-content;
    color: #009846;

    &__btn {
      text-decoration: underline;
      color: #009846;
      margin-bottom: 10px;
    }
  }

  &__checkbox {
    & + & {
      margin-top: 10px;
    }
  }

  &__order {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 14px;
  }

  &__btn {
    font-family: inherit;
    border-radius: 6px;
    border: 1px solid #c62734;
    background: linear-gradient(180deg, #e15959, #e96f54);
    width: 88px;
    height: 30px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 1px 1px 0 rgb(0 0 0 / 20%);
    letter-spacing: 0.1px;
    font-size: 14px;
    line-height: 16px;
    padding: 6px 18px;
    font-weight: 700;

    &:disabled {
      background: #eaeaea;
      border: none;
      color: #444;
      text-shadow: none;
      cursor: not-allowed;
    }
  }

  &__quantityController {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 700;

    &__btn {
      font-size: 15px;
      width: 28px;
      height: 28px;
      border-radius: 8px;
      display: flex;
      align-items: center;
      justify-content: center;

      &--minus {
        border: 1px solid #e5e5e5;
        background-color: #fff;
        color: #c62734;
        margin-right: 8px;
      }

      &--plus {
        margin-left: 8px;
        color: #fff;
        background: linear-gradient(180deg,#e15959,#e96f54);
      }
    }
  }

  &__favorite-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 2px 12px rgb(81 151 181 / 12%);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-bottom: 20px;

    &--active {
      --heart-inside: #C62734
    }
  }

  &--active {
    .product-card {
      &__img {
        width: 100%;
        padding: 0;
      }

      &__items {
        width: 100%;
        padding-top: 15px;
      }
    }
  }
}
