[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
[type="radio"] + label {
  position: relative;
  cursor: pointer;
  line-height: 20px;
  display: flex;
  color: #666;
  flex-grow: 1;
}

[type="radio"] + label:before {
  content: "";
  width: 18px;
  height: 18px;
  border: 1px solid #009846;
  border-radius: 100%;
  background: #fff;
}
[type="radio"]:checked + label:after {
  content: "";
  width: 12px;
  height: 12px;
  background: #009846;
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
[type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}