.chips {
  display: flex;
  overflow-x: auto;
  margin: 0 -4px;
}

.chip {
  flex: 1 1 auto;
  margin: 0 4px;
  height: 32px;
  padding: 8px 10px;
  transition-duration: .2s;
  transition-property: color;
  letter-spacing: .1px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #eaeaea;
  border-radius: 12px;
  color: #444;
  white-space: nowrap;
  cursor: pointer;

  &--link {
    cursor: pointer;

    &:hover {
      .chip__bg-color {
        filter: brightness(.9);
      }
    }

    &:active .chip__bg-color {
      filter: brightness(.8);
    }
  }

  &--active {
    color: #fff;
    background: linear-gradient(180deg, #e15959, #e96f54);
    z-index: 1;
  }

  &:hover {
    z-index: 5;
  }
}