.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9;
  transition: 0.3s opacity, 0.3s transform;

  &--size {
    &-large {
      .modal__window {
        width: 597px;
      }
    }

    &-medium {
      .modal__window {
        width: 535px;
      }
    }

    &-small {
      .modal__window {
        width: 328px;
      }
    }

    &-auto {
      .modal__window {
        width: auto;
      }
    }

    &-full {
      .modal__window {
        max-width: unset;
        max-height: unset;
        width: 100%;
        height: 100vh;
        border-radius: 0;
      }
    }
  }

  &-enter-from,
  &-leave-to {
    opacity: 0;

    .modal__window {
      transform: scale(0.8);
    }
  }

  &-enter-to {
    opacity: 1;

    .modal__window {
      transform: scale(1);
    }
  }

  &-enter-active,
  &-leave-active {
    transition: opacity 0.3s ease;
  }

  &__overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    @include full-sized;
  }

  &__wrapper {
    @include flexCenter;
    height: 100%;
  }

  &__window {
    max-width: calc(100% - 30px);
    max-height: calc(100% - 30px);
    overflow-y: auto;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    position: relative;
    transition: transform 0.3s;
    padding-bottom: 24px;
    box-shadow: 0 4px 8px rgb(0 0 0 / 6%);
    border-radius: 6px;

    @include scrollbar;
  }

  &__header {
    padding: 8px 8px 2px 8px;
    display: flex;
    flex-wrap: wrap;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.5;
  }

  &__body {
    padding: 2px 12px 12px 12px;

    &--no-padding {
      padding-bottom: 0;
    }

    &__info-icon {
      margin-right: 5px;
    }
  }

  &__buttons {
    padding: 0 30px;
    display: flex;
  }

  &__close {
    width: 24px;
    height: 24px;
    margin-left: auto;
    @include flexCenter;

    svg {
      width: 14px;
      height: 14px;
      transition: transform 0.3s;
      --current-color: #bbbbbb;
    }

    &:hover {
      svg {
        transform: rotate(90deg);
      }
    }
  }

  &__title {
    font-size: 20px;
    line-height: 28px;
    font-weight: bold;
    display: flex;
    align-items: center;
    color: #000;
  }

  &__subtitle {
    color: #000;
    margin-top: 15px;
  }

  &__btn {
    width: 100%;
    border-radius: 4px;
    padding: 13px 15px;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    margin-bottom: 12px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .app-radio {
    display: flex;
    align-items: center;
    padding: 10px 0;

    &__label {
      &__text {
        margin-left: 35px;
      }
    }
  }
}

@include max-xs {
  .modal {
    &__window {
      padding: 0 0 30px;
    }

    &__header {
      padding: 18px 20px;
    }

    &__body {
      padding: 0 20px 20px;
    }

    &__buttons {
      padding: 0 20px;
    }
  }
}
